@font-face {
    font-family: myFont;
    src: url(fonts/TT\ Smalls\ Trial\ ExtraBold\ Italic.otf);
}
@font-face {
    font-family: logoFont;
    src: url(fonts/TT\ Smalls\ Trial\ Black\ Italic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
}
.loader_box{
   background-color: #646464;
   width: 100%;
   height: 100%;
   position: absolute;
}

main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}
.content{
    display: none;
}
.header_container{
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;   
    background: rgb(43,52,52);
    background: linear-gradient(0deg, rgba(43,52,52,1) 0%, rgba(199,12,12,1) 100%);
    align-items: center;
    top: 0;
    z-index: 1;
    padding-left: 3%;
    font-size: larger;
}
.header_container nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    font-weight: 400;
}
.header_logo{
    text-decoration: none;
}
.header_container nav ul li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header_container  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-family: myFont;
    
}
nav ul li a:hover{
    color: rgb(187, 181, 181);
    text-decoration: underline;
    transition: all 0.8s;
    animation-delay: 0.3s;
    scale: 1.1;
    color: #CFC547;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
}
.header_container nav{
   position: absolute;
   right: 0;
   margin-right: 40px;
}
.header_container h2{
    display: flex;
    align-items: center;
    color: rgb(149, 255, 0);
    font-family: logoFont;

}
.header_container h2:hover{
    scale: 1.1;
    transition: all linear 0.5s;
}
.header_container span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: auto ;
    margin-left: 10px;
    border-radius: 10%;
    color: rgb(5, 6, 6);

}
.username{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user_icon{
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
    fill: white;
}
.main_container{

    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    overflow: hidden;
    margin-top: 70px;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -22px inset, rgba(0, 0, 0, 0.4) 0px 50px 64px 0px inset;

}
.main_container img{
    cursor: pointer;
    mix-blend-mode: color-dodge;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

.box {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.box img{
    width: 100%;
}
.box:first-child {
    animation: loader 2s infinite;
}
.box:nth-child(2) { 
animation: loader 3s infinite;
}
.box:nth-child(3) {
animation: loader 4s infinite;
}
.box:last-child {
animation: loader 5s infinite;
}
@keyframes loader {
0% {
    rotate: 0deg;
}
25% {
    rotate: y 90deg;
    scale: 0.5;
}
100% {
    rotate: 360deg;
}
}
.scroll {
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 40px;
  right: -80px;
  border-radius: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px 0px #888;
  transition: 300ms;
}
.up_arrow:hover  {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rotate {
  from {margin-top: 15px}
  to {margin-top: 5px}
}
.visible {
  right: 30px;
  z-index: 1001;
  transition: all 400ms;
  transform: rotate(360deg)
}
.up_arrow{
    position: relative;
    width: 56px;
}
.mobile_header{
    display: none;
}
.burger_bar{
    display: none;
}
@media (max-width:1150px){
    .container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .main_container {
        display: none;
        width: 100%;
    }

}
@media (max-width:1024px)  {
    nav{
        display: none;
    }
    .main_container{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .mobile_icon{
        width: 20px;
        height: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
    .header_container{
        justify-content: space-between;
    }
    .s_container{
        margin-top: 70px;
    }
}
.burger_bar{
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    right: 0;
    background-color: black;
    top: 70px;
    flex-direction: column;
    padding-bottom: 20px;  
}
.burger_bar li {
    font-size: 28px;
    margin-top: 20px;
}
.burger_bar a{
    color: rgb(225, 225, 225);
    text-decoration: none;
}
.burger_bar a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.8s;
    animation-delay: 0.5s;
    font-size: 29px;
}

.input{
    display: flex;
    justify-content: inherit;
    align-items: start;
    gap: 4px;
}
.Products {
    width: 100%;
    height: 800px; /* Set the desired height */
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
.product_info{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 250px;
    left: 60%;
    gap: 20px;
}
.product_info h2{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 500;
}
.Products p{
    color: red;
    font-size: 27px;
    font-weight: 600;
}
.product_info span{
    font-family: 500;
    font-size: 20px;
}
.btn-box{
    display: flex;
    gap: 15px;
}
.btn-box button{
    max-width: 200px;
    min-width: 100px;
    min-height: 60px;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: solid black 3px;
}
.btn-box :nth-child(1){
    background-color: rgb(222, 0, 0);
    color: white;
    border: none;
}
.btn-box :nth-child(1):hover{
    transition: all 0.5s linear;
    -webkit-box-shadow: inset 1px 1px 20px #333;
    -moz-box-shadow:    inset 1px 1px 20px #333;
    box-shadow:         inset 1px 1px 20px #333;
    background-color: rgb(246, 29, 29);
}
.btn-box :nth-child(2){
    background-color: rgba(255,0,0, 0 );
}
.btn-box :nth-child(2):hover{
    transition: all 0.5s linear;
    color: white;
    background-color: rgb(20, 16, 16);
}
.products_box{
    padding-top: 40px;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 250px;
    left: 5%;
    gap: 20px;
   
}
.products_box_px{
    padding-top: 40px;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 250px;
    left: 5%;
    gap: 20px;
   
}
.products_box h2{
    font-size: 40px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
}
.products_box span{
    font-family: 500;
    font-size: 20px;
    color: white;
}
.after_box{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    

}
.user_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.after_box_product_info{
    width: 60%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    padding: 20px;
}
.img_box{
    display: flex;
    width: 45%;
    height: 75%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.img_box img{
    width: 100%;
    height: 100%;
}
#product_info {
    transition: opacity 0.5s ease, transform 2.5s ease;
  }
#product_info_second{
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 2.5s ease;
}
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}
.close_box{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 5px 0 0;
}
.close_box img{
    width: 40px;
}
.pc_section h2{
    color: black;
}
.pc_section span{
    color: black;
}
.detail_information_div{
    position: relative;
    width: 40%;
    height: 60%;
    left: 50%;
    top: 20%;
}

.products_container span span{
    font-size: 28px;
    font-weight: 600;
}
.pc_section span span{
    font-size: 28px;
    font-weight: 600;
}
@media (max-width:768px){
    .Products{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 600px;
    }   
    .product_info{
        border-radius: 4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)!important;
        top: -220px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products_box{
        border-radius: 4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)!important;
        top: -220px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product_info h2{
        font-size: 30px;
        letter-spacing: 0px;
      
    }
    .Products p{
        font-size: 20px;
    }
    .product_info span{
        font-size: 15px;
    }
    .products_container{
        margin-top: 50px;
    }
    .products_box h2{
        font-size: 29px;
        letter-spacing: 0px;
    }
    .products_box span{
        font-size: 15px;
    }
    .header_logo{
        display: none;
    }
    .username{
        font-size: 24px;
    }
    .after_box_product_info {
        width: 90%;
        height: 90%;
    }
    .img_box{
        width: 100%;
        height: 50%;
        top:  -132px ;
        position: relative;
    }
    .detail_information_div{
        top: 60%;
        left: 0;    
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;

    }
    .products_container span span{
        font-size: 20px;
    }
    .pc_section span span{
        font-size: 20px;
    }
    .mobile_icon {
        margin-left: -35px;
        
    }
    .up_arrow {
        position: relative;
        width: 36px;
    }
    .visible{
        width: 50px;
        height: 50px
    }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
    position: relative;
    width: 100%;
    background: #060707;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
  }
  .menu{
    flex-direction: column;
    gap: 5px;
  }
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }