@font-face {
    font-family: myFont;
    src: url(fonts/TT\ Smalls\ Trial\ ExtraBold\ Italic.otf);
}
@font-face {
    font-family: logoFont;
    src: url(fonts/TT\ Smalls\ Trial\ Black\ Italic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container{
    display: flex;
    width: 100%;
    height: 70px;
    position: fixed;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(52,1,11,1) 100%);
    align-items: center;
    top: 0;
    z-index: 1;
    padding-left: 3%;
    font-size: larger;
}
.header_container nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    font-weight: 400;
}
.header_logo{
    text-decoration: none;
}
.header_container nav ul li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header_container  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-family: myFont;
    
}
nav ul li a:hover{
    color: rgb(187, 181, 181);
    text-decoration: underline;
    transition: all 0.8s;
    animation-delay: 0.3s;
    scale: 1.1;
    color: #CFC547;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
}
.header_container nav{
   position: absolute;
   right: 0;
   margin-right: 40px;
}
.header_container h2{
    display: flex;
    align-items: center;
    color: rgb(149, 255, 0);
    font-family: logoFont;

}
.header_container h2:hover{
    letter-spacing: 2px;
    transition: all linear 0.5s;
}
.header_container span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: auto ;
    margin-left: 10px;
    border-radius: 10%;
    color: rgb(5, 6, 6);

}
.main_container{
    max-width: 1920px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    overflow: hidden;
    margin-top: 70px;
    height: 600px;

}
.main_container img{
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

.box {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.box img{
    width: 100%;
}
.box:first-child {
    animation: loader 2s infinite;
}
.box:nth-child(2) { 
animation: loader 3s infinite;
}
.box:nth-child(3) {
animation: loader 4s infinite;
}
.box:last-child {
animation: loader 5s infinite;
}
@keyframes loader {
0% {
    rotate: 0deg;
}
25% {
    rotate: y 90deg;
    scale: 0.5;
}
100% {
    rotate: 360deg;
}
}
.scroll {
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 40px;
  right: -80px;
  border-radius: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px 0px #888;
  transition: 300ms;
}
.up_arrow:hover  {
  animation-name: rotate;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rotate {
  from {margin-top: 15px}
  to {margin-top: 5px}
}
.visible {
  right: 30px;
  transition: all 400ms;
  transform: rotate(360deg)
}
.up_arrow{
    position: relative;
    width: 56px;
}
.mobile_header{
    display: none;
}
.burger_bar{
    display: none;
}
@media (max-width:1150px){
    .container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .main_container img{
        width: 100%;
    }

}
@media (max-width:1024px)  {
    nav{
        display: none;
    }
    .main_container{
        display: none;
    }
    .mobile_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .mobile_icon{
        width: 20px;
        height: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
    .header_container{
        justify-content: space-between;
    }
    .products_container{
        margin-top: 70px;
    }
}
.burger_bar{
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    right: 0;
    background-color: black;
    top: 70px;
    flex-direction: column;
    padding-bottom: 20px;  
}
.burger_bar li {
    font-size: 28px;
    margin-top: 20px;
}
.burger_bar a{
    color: rgb(225, 225, 225);
    text-decoration: none;
}
.burger_bar a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.8s;
    animation-delay: 0.5s;
    font-size: 29px;
}
#search{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    z-index: -1;
    justify-content: inherit;
    padding-left: 15%;
    padding-top: 3%;
    width: 100%;
    background-color: rgba(22, 22, 23, 0.99);;
}
#search input{
    height: 8%;
    width: auto;
    color: white;
    font-size: 25px;
    background-color: rgba(22, 22, 23, 1);
    border: none;
}
#search input:focus{
    outline: none;
}
#search ::placeholder{
    font-size: 25px;
    border: none;
    color: rgb(184, 194, 204);
}
.input{
    display: flex;
    justify-content: inherit;
    align-items: start;
    gap: 4px;
}
#search span{
    color: rgb(209, 213, 217);
    font-size: 20px;
}
.Products {
    width: 100%;
    height: 800px; /* Set the desired height */
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
.product_info{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 250px;
    left: 52%;
    gap: 20px;
}
.product_info h2{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 500;
}
.Products p{
    color: red;
    font-size: 27px;
    font-weight: 600;
}
.product_info span{
    font-family: 500;
    font-size: 20px;
}
.btn-box{
    display: flex;
    gap: 15px;
}
.btn-box button{
    max-width: 200px;
    min-width: 100px;
    min-height: 60px;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: solid black 3px;
}
.btn-box :nth-child(1){
    background-color: rgb(222, 0, 0);
    color: white;
    border: none;
}
.btn-box :nth-child(1):hover{
    transition: all 0.5s linear;
    background-color: rgb(246, 29, 29);
}
.btn-box :nth-child(2){
    background-color: rgba(255,0,0, 0 );
}
.btn-box :nth-child(2):hover{
    transition: all 0.5s linear;
    color: white;
    background-color: rgb(20, 16, 16);
}
.products_box{
    padding-top: 40px;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 250px;
    left: 20%;
    gap: 20px;
   
}
.products_box h2{
    font-size: 40px;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
}
.products_box span{
    font-family: 500;
    font-size: 20px;
    color: white;
}

@media (max-width:768px){
    .Products{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 600px;
    }   
    .product_info{
        border-radius: 4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px ;
        top: -220px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products_box{
        border-radius: 4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px ;
        top: -220px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product_info h2{
        font-size: 30px;
        letter-spacing: 0px;
      
    }
    .Products p{
        font-size: 20px;
    }
    .product_info span{
        font-size: 15px;
    }
    .products_container{
        margin-top: 50px;
    }
    .products_box h2{
        font-size: 30px;
        letter-spacing: 0px;
    }
    .products_box span{
        font-size: 15px;
    }
}
