@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    background-image: url(images/background_img.webp) ;
    object-fit: cover;
}
.box{
    position: relative;
    display: flex;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    width: 380px;
    top: -50%;
    left: -50%;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1 ;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box::after{
    content: '';
    position: absolute;
    width: 380px;
    top: -50%;
    left: -50%;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1 ;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
.border_line::after{
    content: '';
    position: absolute;
    width: 380px;
    top: -50%;
    left: -50%;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#26c402,#ff45b8,#d6dfdf);
    z-index: 1 ;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4.5s;
}
.border_line::before{
    content: '';
    position: absolute;
    width: 380px;
    top: -50%;
    left: -50%;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#c4aa02,#1fadb7,#4e0004);
    z-index: 1 ;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -1.5s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}
.box form .input_box{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .input_box input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .input_box span{
    position: absolute;
    left: 0;
    padding: 20px 0p 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.5em;
    transition: 0.8s;
}
.box form .input_box input:valid ~ span,
.box form .input_box input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-30px);
}
.box form .input_box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .input_box input:valid ~ i,
.box form .input_box input:focus ~ i{
    height: 44px;   
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0 ;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: white;
}
.Login_btn{
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #1b9200;
    color: rgb(251, 239, 221);
}
.Login_btn:hover{
    background: rgb(42, 211, 0);
    transition: all 1s;
    font-size: 15px;
    color: rgb(224, 212, 194);
}
.socila_icons{
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 35px;
    height: 80px;
    background-color: rgba(202, 184, 194, 0.8);

}
.socila_icons img{
    width: 40px;
    height: 40px;
}
#Sign_up_box{
    display: none;
    
}
#Sign_up_box .Login_btn{
    margin-top: 0;
}
.sign_up_lable{
    padding: 30px!important;
}